doctype html
html(lang="ru-RU")
    head
        title Stroyka
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Lora:wght@400;500;700&family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width; initial-scale=1")
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
        script(src="js/script.js")
        script(src="js/contactform.js")
    body

        .first
            .first_container 
                .container_small 
                    header
                        nav
                            ul
                                li
                                    a Главная
                                li   
                                    a О компании
                                li
                                    a Услуги
                                li
                                    a Контакты
                        .logo_container
                            p ОЛИМП-СТРОЙ
                            p.small-logo строительная компания
                        .phone Тел.: +8801744430440
                    .first_main-block
                        h1 Sint ullamco sunt veniam laborum
                        p Eiusmod minim adipisicing elit ea adipisicing dolore anim consequat mollit ut duis culpa adipisicing. Laborum ea do id ullamco excepteur et ea est.
                        a.learn-more(href="#1") Узнать больше
        .second
            section(id="1")
            .container_small
                .box-about
                    .about_container
                        h1 100+
                        p завершенных проектов
                        h1 100+
                        p довольных клиентов
                        h1 10+
                        p лет опыта
                .block-about
                    p.small О КОМПАНИИ
                    h1 Sint ullamco sunt veniam laborum
                    p.text Duis Lorem eiusmod non culpa reprehenderit elit. Proident reprehenderit amet pariatur ea magna excepteur pariatur cupidatat dolore. Sint in sunt Lorem fugiat qui laborum ea sint. Dolor proident velit anim amet anim amet ex dolore enim. Lorem consequat nostrud ea ex adipisicing enim cillum enim minim quis. Laboris ut pariatur magna aliqua fugiat nostrud esse deserunt esse.

        .third
            .third_container 
                .container_small
                    p.small УСЛУГИ
                    h1 Все то, что мы умеем.
                    .our-skills
                        .repair
                            img(src="img/repair.png", alt="")
                            h2 Ремонт
                            p Duis Lorem eiusmod non culpa reprehenderit elit. Proident reprehenderit amet pariatur ea magna excepteur pariatur cupidatat dolore. Sint in sunt Lorem fugiat qui laborum ea sint.
                        .building
                            img(src="img/build.png", alt="")
                            h2 Строительство
                            p Duis Lorem eiusmod non culpa reprehenderit elit. Proident reprehenderit amet pariatur ea magna excepteur pariatur cupidatat dolore. Sint in sunt Lorem fugiat qui laborum ea sint.
                        .calculating
                            img(src="img/calc.png", alt="")
                            h2 Подсчет
                            p Duis Lorem eiusmod non culpa reprehenderit elit. Proident reprehenderit amet pariatur ea magna excepteur pariatur cupidatat dolore. Sint in sunt Lorem fugiat qui laborum ea sint.
        .four
            .container_small
                p.small КОНТАКТЫ
                h1 Начнем вместе.
                p Вы можете связаться с нами и начать наше сотрудничество или оставьте свои контактные данные и мы свяжемся с вами в ближайшее время.
                p Наш телефон: +7 985 778-06-42
                p Наша почта: info@conceptmsk.com
                form(class="ajax-contact-form" enctype="multipart/form-data" method="POST")
                    input(type="text" name="user_name" required placeholder="Имя")
                    input(type="text" name="user_phone" required id="form_phone" placeholder="+7 (___) ___-__-__")
                    button.learn-more(type="submit") Заказать звонок
                footer ОЛИМП-СТРОЙ (C) 2020 ВСЕ ПРАВА ЗАЩИЩЕНЫ
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="js/jquery.maskedinput.min.js")
    script.
        $(document).ready(function() {
        $("#form_phone").mask("+7 (999) 999-99-99");
        });