doctype html
html(lang="ru-RU")
    head
        title Stroyka
        link(href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width; initial-scale=1")
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
        script(src="http://code.jquery.com/jquery-1.9.1.js")
        script(src="js/script.js")
    body
        .first
            .first_container 
                .container_small 
                    header
                        nav
                            ul
                                li
                                    a Главная
                                li   
                                    a О компании
                                li
                                    a Услуги
                                li
                                    a Контакты
                        .logo_container
                            p ОЛИМП-СТРОЙ
                            p.small-logo строительная компания
                        .phone Тел.: +8801744430440
                    .first_main-block
                        h1 Sint ullamco sunt veniam laborum
                        p Eiusmod minim adipisicing elit ea adipisicing dolore anim consequat mollit ut duis culpa adipisicing. Laborum ea do id ullamco excepteur et ea est.
                        a.learn-more Узнать больше
        .second
            .container_small 
